# Node.js
node_modules/
npm-debug.log
coverage

# Bower
bower_components

# Mac OSX
.DS_Store
realsample.txt
record.txt

# Eclipse
.project
.settings
*.md.html

# ccda-explorer
ccda-explorer/dump/
ccda-explorer/dump_gen_xml/
ccda-explorer/dump_gen_json/
ccda-explorer/sample_ccdas/

test/fixtures/files/generated/
test/fixtures/files/parse_gen_parse

test/proprietary

angulartest/app/lib

dist